/models

/.idea
*.pyc
backend/__pycache__/fer.cpython-311.pyc
backend/__pycache__/models.cpython-311.pyc
backend/__pycache__/server.cpython-311.pyc
Documentacion.docx
/backend/.idea
/backend/.idea
/backend/.idea
/object_detection/weapon-1
/object_detection/weights
/object_detection/.idea
/backend/__pycache__
/backend/__pycache__
/object_detection/detections
/backend/__pycache__
/backend/.idea
/backend/__pycache__
/backend/.idea
